body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#setSize{
    margin-top: 20px;
    width: 250px;
    height: 30px;
}

.sketch{
    display: flex;
    width: 500px;
    height: 500px;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 1px;
    flex-grow: 1;
}

.part{
    flex-grow: 1;
    border: 1px solid black;
    margin-left: 1px;
    background-color: white;
}